/**
 * Novo SGA - Triagem Impressão de senha
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */

 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
#senha {
    width: 350px;
    margin: auto;
    text-align: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5pt;
}

#senha #senha-header,
#senha #senha-gerente {
    font-size: 16pt;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 0.9;
}

#senha #senha-gerente span{
    font-size: 8pt;
    text-transform: uppercase;
    margin-bottom: 0;
}

#senha #senha-header .data {
    font-size: 8pt;
}

#senha #senha-body {
    font-size: 60pt;
    line-height: 35pt;
    font-weight: bold;
    margin: 10pt 0pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#senha  #senha-body .descricao {
    text-align: center;
    font-size: 16pt;
    line-height: 10pt;
    margin-top: 10pt;
}

#senha #senha-footer {
    font-size: 14pt;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}